<h4 class="px-4">public statistic</h4>
<nz-table #basicTable [nzData]="listOfData" style="padding-inline: 20px;" [nzFrontPagination]="false">

    <thead>
        <tr>
            <th>porducts types</th>
            <th>products amount in WH</th>
            <th>Sales per week</th>
            <th>Sales per month</th>
            <th>Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.types }}</td>
            <td>{{ data.amount }}</td>
            <td>{{ data.SalesW }}</td>
            <td>{{ data.SalesM }}</td>

            <td>
                <a>more details </a>
                <nz-divider nzType="vertical"></nz-divider>


                <a>Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>